<%= turbo_frame_tag dom_id(invoice, :client) do %>
  <div class="invoice-client <%= class_names(locked: invoice.locked?) %>">
    <%= render client %>
    <% unless invoice.locked %>
      <%= link_to '',
          [:edit_client, invoice],
          class: "full-absolute #{hide_on_pdf}" %>
    <% end %>
  </div>
<% end %>