<main class="container">
  <div class="header">
    <h1><%= t('invoice', count: @invoices.size) %></h1>
    <%= link_to t('new_invoice'),
                new_invoice_path,
                class: 'btn btn--primary' %>
  </div>

  <%= render partial: 'invoice_card', collection: @invoices, as: :invoice %>
</main>