<main class="container">
  <%= link_to sanitize("&larr; Back to invoice"), :back %>

  <div class="header">
    <h1>Edit client</h1>
  </div>

  <%= turbo_frame_tag @client do %>
    <%= render 'form', client: @client %>
  <% end %>
</main>