<%= turbo_frame_tag dom_id(invoice, :calendar_total) do %>
  <div class="day day--header locked">
    <span class="day__total">Total</span>
    <span class="day__count"><%= invoice.days.where(worked: true).count * 8 %></span>
  </div>
<% end %>