.day {
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--space-xs);
  padding: var(--space-xxs) var(--space-m);
  transition: box-shadow 300ms;
  border-bottom: solid 1px var(--color-light);
  &:not(.locked):hover {
    box-shadow: var(--shadow-small);
  }

  &__date {
    flex: 0 0 130px;
  }

  &__week-day {
    flex: 0 0 130px;
    display: flex;
    align-items: center;
  }

  &__worked-hours, &__count {
    flex: 0 0 150px;
    text-align: center;
  }

  &__comment {
    flex-grow: 1;
    text-align: right;
  }

  &__actions {
    display: flex;
    column-gap: var(--space-s);
  }

  &__total {
    flex: 0 0 260px;
  }

  &--header {
    background-color: var(--color-light);
    font-weight: 800;
    &:hover {
      box-shadow: none;
    }
    .day__worked-hours {
      text-align: left;
    }
  }

  &--not-worked {
    background-color: var(--color-glint);
  }

  &--form {
    box-shadow: var(--shadow-small);
  }
}