.invoice-client {
  position: relative;
  padding: var(--space-s) var(--space-m);
  transition: box-shadow 300ms;
  &:hover {
    box-shadow: var(--shadow-small);
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: var(--space-s);
  }

  &--focus {
    box-shadow: var(--shadow-small);
  }

  &--form {
    align-items: center;
    margin-bottom: var(--space-s);
    select {
      padding: var(--space-xxs);
    }
  }
}