.invoice-infos {
  position: relative;
  padding: var(--space-s) var(--space-m);
  transition: box-shadow 300ms;
  &:not(.locked):hover {
    box-shadow: var(--shadow-small);
  }

  &__title {
    margin-top: var(--space-xxxxl);
    font-weight: 800;
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: var(--space-s);
  }

  &--form {
    flex-direction: column;
  }
}