.invoice {
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-small);
  margin-bottom: var(--space-m);
  padding: var(--space-xl);

  @include media(tabletAndUp) {
    padding: var(--space-l) var(--space-xl);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-s);

    &__highlight {
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: var(--space-m);
    }

    &__upcase {
      text-transform: uppercase;
    }

    &--right {
      text-align: right;
    }
  }

  &__body {

  }
}