.invoice-card {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: var(--space-s);
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-small);
  margin-bottom: var(--space-m);
  padding: var(--space-m);
  border: 1px solid transparent;
  transition: border-color 300ms;

  &:hover {
    border: 1px solid var(--color-primary);
  }

  &__left {
    display: flex;
    column-gap: var(--space-s);
    border-right: 1px solid var(--color-primary);
    padding-right: var(--space-s);
  }

  &__title {
    flex-grow: 1;
  }
}