.invoice {
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-small);
  margin: var(--space-m) 0;
  padding: var(--space-xxxl);

  &__header {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--space-xxl);
  }

  &__user {
    flex-basis: 50%;
    flex-shrink: 0;
    padding: var(--space-s) var(--space-m);
  }

  &__client {
    flex-basis: 50%;
    flex-shrink: 0;
    text-align: right;
  }

  &__title {
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: var(--space-s);
  }

  &__upcase {
    text-transform: uppercase;
  }

  &__spaced {
    margin: var(--space-s) 0;
  }

  &__body {
    margin-top: var(--space-m);
    margin-bottom: var(--space-xxxxl);
    padding: var(--space-s) var(--space-m);
  }

  &__line-items {
    margin-bottom: var(--space-m);
    display: flex;
    flex-direction: column;
  }

  &__no-tva {
    text-align: right;
    font-size: var(--font-size-s);
    font-style: italic;
    color: var(--color-text-muted);
  }

  &__total {
    display: flex;
    justify-content: flex-end;
    margin-top: var(--space-m);
    &__content {
      width: 30%;
      display: flex;
      justify-content: space-between;
      background-color: var(--color-light);
      padding: var(--space-s) var(--space-m);
      font-weight: 800;
    }
  }

  &__payment {
    display: flex;
    flex-direction: column;
    row-gap: var(--space-xs);
    padding: var(--space-s) var(--space-m);

    &__line {
      display: flex;
      align-items: center;
      column-gap: var(--space-s);
      span:first-child {
        min-width: 60px;
      }
      span:last-child {
        min-width: 60px;
        font-family: monospace;
      }
    }

    &__disclaimer {
      color: var(--color-text-muted);
      font-size: var(--font-size-s);
    }
  }

  &--form {
    flex-direction: column;
  }
}