.line-item {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
  padding: var(--space-s) var(--space-m);
  text-align: right;
  position: relative;
  transition: box-shadow 300ms;
  border-bottom: solid 1px var(--color-light);
  &:not(.locked):hover {
    box-shadow: var(--shadow-small);
  }

  &__description {
    flex-grow: 1;
    text-align: left;
  }

  &__quantity {
    flex: 0 0 75px;
    input {
      text-align: right;
    }
  }

  &__price {
    flex: 0 0 150px;
    input {
      text-align: right;
    }
  }

  &__total {
    flex: 0 0 150px;
  }

  &__edit {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__actions {
    flex: 0 0 150px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: var(--space-s);
  }

  &--header {
    background-color: var(--color-light);
    font-weight: 800;
    &:hover {
      box-shadow: none;
    }
  }

  &--form {
    box-shadow: var(--shadow-small);
    input, textarea {
      height: 36px;
    }
  }
}