<div class="line-item">
  <span class="line-item__element"><%= line_item.description %></span>
  <span class="line-item__element"><%= line_item.quantity %></span>
  <span class="line-item__element"><%= number_to_currency(line_item.unit_price) %></span>
  <span class="line-item__element"><%= number_to_currency(line_item.total_price) %></span>
</div>