<header class="navbar">
  <% if user_signed_in? %>
    <div class="navbar__name">
       <%= "#{t('hello')} #{current_user.username}" %>
    </div>
    <%= button_to t('devise.sessions.already_signed_out'),
                  destroy_user_session_path,
                  method: :delete,
                  class: "btn btn--dark" %>
  <% else %>
    <%= link_to t('devise.sessions.new.sign_in'),
                new_user_session_path,
                class: "btn btn--dark navbar__right" %>
  <% end %>
</header>